<div id="main">
  <img
    src="../../../assets/images/royal-stag-header.png"
    alt="header-image-landing"
    class="header"
  />
  <div class="content" id="scrollcontent">
    <ng-template appDynamic></ng-template>
  </div>
  <div class="royal-stag-bottom-blur-image"></div>
  <!-- Modal -->
  <div
    class="modal fade custom-scroller"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title" id="exampleModalLabel">
            TERMS <span>&</span> CONDITIONS
          </div>
          <div
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="#fff"
            >
              <path
                d="M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z"
              />
            </svg>
          </div>
        </div>
        <div class="modal-body">
          <h6>Royal Stag Mark of Purity Campaign 2022</h6>
          <br />
          <p>
            This Campaign is being organized by Pernod Ricard India Pvt. Ltd., a
            company duly incorporated under the Companies Act, 1956 and having
            its, registered office at: Atelier, No.10, Level 1, Worldmark 2,
            Aerocity, New Delhi – 37 (“PRI”), in association with its partner
            agency Headsail Media Services Pvt Ltd, a company duly incorporated
            under the Companies Act, 1956 and having its registered office at:
            104, Anmol Pride, Opp Patel Petrol Pump, Goregaon West, Mumbai
            Suburban, Maharashtra-400062, (“Agency”) hereinafter together
            referred to as “Organizers”.
          </p>
          <p>
            Please read the terms and conditions of the Royal Stag Mark of
            Purity Campaign 2022 before participating in it (hereinafter
            referred to as the “Campaign”). By participating/ availing this
            Campaign, it is deemed that the participants/ customers/ consumers
            (hereinafter collectively referred to as “Participant”) and/or
            Winners have irrevocably and unconditionally accepted all terms &
            conditions contained herein, including any/all amendment,
            modification, etc. made thereto without demur and shall throughout
            remain bound to them as under:
          </p>
          <br />
          <p>1. AGREEMENT TO TERMS AND CONDITIONS -</p>
          <p>
            i. By participating in this Campaign, Participants fully and
            unconditionally agree to abide by the Terms and Conditions available
            on www.royalstagmop.com (“T & C Website”). Organizer’s decision
            shall be final and binding in all matters related to the Campaign is
            subject to all requirements set forth herein.
          </p>
          <p>
            ii. Organizer reserves the right to exclude any person from the
            Campaign on grounds of misconduct or criminal record.
          </p>
          <p>
            iii. Organizer reserves the right to terminate, modify or extend the
            Campaign, at any time at its absolute discretion, without assigning
            any reason or prior intimation to the participant.
          </p>
          <br />
          <p>2. ELIGIBILITY & CAMPAIGN PERIOD -</p>
          <p>
            i. This Campaign is open only for Indian citizens above the Legal
            Drinking Age in their respective states, across select outlets in
            select cities of such states (‘State/s).
          </p>
          <p>
            ii. This Campaign will be live in all states of India except Bihar,
            Gujarat, Manipur, Nagaland, Mizoram, Tamil Nadu, Andhra Pradesh,
            Kerala & J&K
          </p>
          <p>
            iii. Organizers’ employees, their family members, sponsors, agents,
            distributors, wholesalers, retailers and any other channel partners,
            including their employees or any outlet staff, bar staff and counter
            sales-men are not eligible to participate in the Campaign. Entries
            received from any of the foregoing ineligible participants shall be
            liable to be rejected by the Organizers at any stage of the Campaign
            without demur.
          </p>
          <p>
            iv. The Campaign is open only between the Start date (20th February 2022)
            & End date (20th March 2022), both days inclusive, for each Phase
            (“Campaign Period”).
          </p>
          <p>
            v. The Organizers reserve the right to change the Campaign Period
            without prior intimation to the Participant. Thereafter, Organizers
            will not be obligated in any manner whatsoever. Entries beyond the
            Campaign Period will not be considered valid for participation in
            the Campaign.
          </p>
          <br />
          <p>3. How to Participate-</p>
          <p>
            1. This Campaign is applicable on all packs of Royal Stag
            (hereinafter “Product”). Product is available without the Campaign
            as well.
          </p>
          <p>
            2. Participants can participate in the Campaign through 2 routes:
            They can give a missed call on 8291829134 OR scan a QR code, both of
            which will be communicated through communication at the outlet and
            other points of sale materials (Poster, Dangler etc.) deployed at
            the selected outlets in the respective State/s.
          </p>
          <p>
            3. After giving a missed call, Participants will receive a SMS with
            a chatbot link. Similarly, if Participants chose to scan the
            participation QR code, chatbot link will open directly.
          </p>
          <p>
            4. After opening of chatbot link, Participant would need to confirm
            that he/she is above the legal drinking age in his/her respective
            State and also accept Terms & Conditions for the Campaign.
          </p>
          <p>
            5. The Participant will then be required to enter his/her Mobile
            number & pincode
          </p>
          <p>
            6. Post submission of correct pincode, Participants (s) would get to
            see a short video, post which he/she would be asked a simple
            question based on the video. On giving the correct answer,
            Participant will win an assured cashback in the form of a digital
            wallet reward code via SMS on his/her registered mobile number along
            with a web link to claim the reward within 24-48 hour
          </p>
          <p>
            7. There would be a series of 4 videos that the Participant(s) have
            to watch in order to get registered for the Mega Prize draw. After
            the Participant has seen the 1st video, they will get a reminder SMS
            they next day, and a second reminder SMS 24 hours thereon, to remind
            them about the next video to be seen. Reminder SMS will also have
            the link to access the chatbot. Participant (s) shall be asked to
            provide their consent prior to receiving such reminder SMS
          </p>
          <p>
            8. Participant(s) will get an assured cashback of appropriate value
            (at random) ranging between Rs. 10/- to Rs. 100/- after watching
            each video, provided he answers the related question correctly.
            However, participant’s entry registration for the Mega Prize Draw
            will only happen after he has watched all 4 videos and answered the
            questions correctly.
          </p>
          <p>
            9. Participant can win only 1 Mega Prize against a mobile number.
            Also, Participant can win maximum of 4 cashbacks against a mobile
            number.
          </p>
          <p>
            10. In one day, a participant can see only one video and thus be
            rewarded with assured cashback only once per day.
          </p>
          <p>
            11. Please note that irrespective of the number of purchases, the
            mobile number of the participant shall be considered for the
            purposes of being a unique entry.
          </p>
          <p>
            12. Please note that after the participant has seen the 1st, 2nd and
            3rd video, they will get reminder SMS next day and second reminder
            SMS 24 hours thereon, to remind them about the next video to be
            seen. Reminder SMS will also have the link to go on the chatbot.
          </p>
          <p>
            13. Participants entering the correct mobile number and pincode only
            will be considered eligible for the Campaign.
          </p>
          <p>
            14. The organizers shall not be responsible for (including but not
            limited to):
          </p>
          <p>• Any SPAM generated messages.</p>
          <p>
            • The Operator Code not being displayed on the user’s mobile phone.
          </p>
          <p>• Any SMS message delivery failure.</p>
          <p>
            • Any lost, late or misdirected computer transmission or network,
            electronic failures or any kind of any failure to receive entries
            owing to transmission failures or due to any technical reason.
          </p>
          <p>
            • If the participant has registered himself to the DND of the
            telecom provider/ the participant has registered with National Do
            Not Call Registry/ Participant has specifically requested for not
            receiving messages for the specific campaign.
          </p>
          <br />
          <p>15. Other conditions beyond its reasonable control</p>
          <p>
            16. The decision on number/s winners is subject to the Organizer’s
            discretion.
          </p>

          <br />
          <br />
          <p>4. Prizes-</p>
          <p>
            i. Digital Wallet cashback: As narrated above a every person can win
            a maximum of 4 digital wallet cashback during the campaign period.
          </p>
          <p>ii. Mega Prize:</p>
          <p>
            a. During the Campaign period, a total of 100 Lucky Winners from the
            entire pool of eligible Participants will be chosen by the
            Organizer/s who shall win a Mega Prize comprising of 5 gm Golden
            Stag. The Winners shall be selected by way of random selection using
            a randomizer software, in the presence of an independent auditor.
          </p>
          <p>
            b. The winners will be announced on a fortnightly basis during the
            Campaign Period.
          </p>
          <p>
            c. The winners of the Mega Prize will be chosen out of the pool of
            entries received during a particular fortnight, and shall be not be
            carried forward for the purposes of the draw(s) in the subsequent
            fortnight(s)
          </p>
          <p>
            d. In terms of delivery of the said Prize, the chosen winner for the
            Mega Prize will be contacted by the Agency for KYC verification.
            This shall, however, in no manner be construed as a communication
            for being a Winner of the Campaign. In the event, the winner is not
            reachable after 3 attempts, his/her claim to the Mega Prize would be
            considered to be forfeited and the Organizers shall be free to
            choose an alternate winner.
          </p>
          <p>
            e. The Mega Prize can neither be exchanged nor redeemed for cash/
            any non-monetary consideration nor it is transferable.
          </p>
          <p>
            f. The Winner/ Participant (as the case may be) will be eligible for
            Mega prize only after completion of all formalities (submission of
            signed copy of Photo ID, Age Proof, Address proof, PAN Card) to the
            entire satisfaction of the Organizer within 7 days.
          </p>
          <p>
            g. In case the Winner(s)/ Participant does not collect its prize
            within the stipulated time period stated hereinabove, then the
            validity of the prize shall lapse automatically without any further
            notice to the Winner(s)/ Participant in this regard.
          </p>
          <br />
          <p>5. Intellectual Property</p>
          <p>
            a. All rights, title and interest, including but not limited to the
            Intellectual Property Rights, in the Campaign material(s) and in any
            and all responses received shall vest solely and exclusively with
            Pernod Ricard at all times. Pernod Ricard or any person or entity
            permitted by Pernod Ricard in this regard shall be entitled to use
            the responses received or any information in connection with the
            entry in any media for future Campaign, marketing, publicity and any
            other purpose, without any permission and or payment to the
            Participant
          </p>
          <p>
            b. All material submitted in connection with the Campaign (whether
            written, audio, electronic or visual form, or a combination of
            those) or any photographs, video and/or film footage and/or audio
            recording taken of Participants are assigned to Pernod Ricard upon
            submission and become the property of Pernod Ricard exclusively.
            Pernod Ricard may use the material in any medium in any reasonable
            manner it sees fit. Copyright in any such material remains the sole
            property of Pernod Ricard
          </p>
          <br />
          <p>6. Personal Data Protection and Privacy</p>
          <p>
            i. At the time of participating in this Campaign, Participant hereby
            consents and authorizes the Organizers to collect certain
            information about the Participant (hereinafter ‘Personal Data’).
          </p>
          <p>
            ii. Personal Data obtained by the Organizers during the Campaign
            shall be that data which is strictly necessary for the conduct of
            the Campaign and may only be applied or used to fulfil the purpose
            of the Campaign.
          </p>
          <p>
            iii. Personal Data will be stored as long as such data is necessary
            for the purpose of this Campaign. Further, said Personal Data shall
            not be transferred or handed to any third parties other than any
            government authority where required to do so under applicable law.
          </p>
          <p>
            iv. Terms related to collection and use of such Personal Data are
            set forth in the Privacy Policy which can be accessed at
            <a
              href="https://www.pernod-ricard.com/en/locations/india/pernod-ricard-india-legal"
              >https://www.pernod-ricard.com/en/locations/india/pernod-ricard-india-legal.
            </a>
            By participating in this Campaign, you agree to be bound by the
            Privacy Policy and you acknowledge and agree that you are solely
            responsible for the accuracy, content and updation of your Personal
            Data.
          </p>
          <br />

          <p>7. General Conditions</p>
          <p>
            i. The prize is subject to the applicable laws of India. The prize
            would be delivered/ handed over to the Winner only upon proper
            identification and verification of the Participant to the full
            satisfaction of the Organizer. All Winners shall be duly required to
            provide a copy of their PAN card and all other requisite documents
            required.
          </p>
          <p>
            ii. While accepting the prize under the Campaign, the Winner(s) may
            be required to execute an “indemnity and release of claims” form as
            may be provided by Organizer, as the case may be, which shall
            release the Organizer of all liability, loss, damage, demand, claim,
            etc. in connection with the Campaign and prizes contemplated under
            this Campaign. Failure to complete and sign any documents requested
            by Organizer may result in disqualification of such Participant
            and/or Winner. Thereafter, the Organizer, at its discretion, will be
            entitled to choose the next winner. All decisions of Organizer shall
            be final in this regard.
          </p>
          <p>
            iii. Organizer is not responsible for any errors or omissions in the
            terms and conditions contained herein. All information provided in
            the Campaign is provided on "as-it-is" basis without any warranty of
            any kind. Organizer, its management, directors, employees, officers,
            affiliates or subsidiaries, agents, representatives, etc. or any of
            its sponsors/ partners make no representations, and further disclaim
            themselves from all express, implied, and statutory warranties of
            any kind towards the Participants, Winners and/or any third party
            with respect to accuracy, timelines, completeness, merchantability,
            or fitness of the Campaign.
          </p>
          <p>
            iv. Organizer shall provide the prize on "as-it-is” basis without
            any warranty or guarantee (whether express or implied) regarding the
            prize covering its quality, suitability, merchantability or its
            fitness. The Organizer, its management, directors, employees,
            officers, affiliates or subsidiaries, agents, representatives, etc.
            disclaims itself from all liabilities, including but not limited to,
            those arising due to any deficiency/ defect in the Offer and/or
            prize and for any consequential damages/ losses arising with respect
            to the Offer and/or the prize.
          </p>
          <p>
            v. Organizer reserves its right to select and declare or not to
            declare the prize Winner if the number of entries submitted for the
            Campaign is not upto the logistical satisfaction of Organizer.
            Decision of Organizer in this regard shall be final & binding, and
            no correspondence in this regard shall be entertained.
          </p>
          <p>
            vi. All rights, title and interest, including but not limited to
            Intellectual Property Rights in the Campaign and/or any other
            promotional material(s) shall vest solely and exclusively with
            Organizer at all times. In connection with the Campaign, the
            Organizer or any person or entity permitted by the Organizer shall
            be entitled to use personal details of Participant and/or Winners
            such as names, characters, photographs, voices, videotape, etc. for
            any media promotions, marketing activity, publicity and likewise
            purposes. By voluntarily participating in the Campaign, Participant
            and/or Winner(s) hereby waive off all their rights to claim royalty,
            remuneration or legally challenge due to any such use of their
            personal details by the Organizer.
          </p>
          <p>
            vi. All rights, title and interest, including but not limited to
            Intellectual Property Rights in the Campaign and/or any other
            promotional material(s) shall vest solely and exclusively with
            Organizer at all times. In connection with the Campaign, the
            Organizer or any person or entity permitted by the Organizer shall
            be entitled to use personal details of Participant and/or Winners
            such as names, characters, photographs, voices, videotape, etc. for
            any media promotions, marketing activity, publicity and likewise
            purposes. By voluntarily participating in the Campaign, Participant
            and/or Winner(s) hereby waive off all their rights to claim royalty,
            remuneration or legally challenge due to any such use of their
            personal details by the Organizer.
          </p>
          <p>
            vii. Organizer reserves its right to change, defer, alter or cancel
            this Campaign in part or full, or change any or all terms and
            conditions of the Campaign, without giving any prior intimation/
            notice of any kind. Further, it shall not be liable for any
            consequential losses/ damages to any Participant and/or Winners in
            this regard. Decision of the Organizer in general, and with respect
            to this Campaign in particular shall be full, final, binding and
            non-contestable upon the Participant and/or the Winners.
          </p>
          <p>
            viii. Nothing contained herein amounts to a commitment or
            representation by the Organizer to conduct further likewise Campaign
            or schemes.
          </p>
          <p>
            ix. Under no circumstance the Organizer, its management, directors,
            employees, officers, affiliates or subsidiaries, agents,
            representatives, etc. shall be liable to the Participant, Winners
            and/or any third party for any loss of profits or lost opportunity,
            or for any indirect, special, consequential, incidental, or punitive
            damages whatsoever, even if Organizer has been advised of the
            possibility of any such damages. The Participant/ Winners
            specifically agree not to file and/or initiate in person or through
            any family member or through any third party, any criminal and/or
            civil proceedings/ complaints/ applications in any courts or forum
            in India against Organizer, its management, directors, employees,
            officers, affiliates or subsidiaries, agents, representatives, etc.
            to claim any damages for any losses or seek relief in connection
            with the Campaign and/or the prizes. The Participant/ Winners
            specifically agree that Organizer, its affiliates, its group
            companies, their employees, officers, directors or any other person
            and/or sponsors shall not be responsible for any claims/
            liabilities/ losses (including legal fees) arising out of and in
            relation to any injury/ damage/ harm/ loss/ death/ mental or
            emotional trauma suffered by the Participant or prize Winners in any
            manner whatsoever in connection with the Campaign and/or the prizes.
          </p>
          <p>
            x. Organizer shall not be liable to perform any of its obligations
            under the Campaign or in respect of the prize where it is unable to
            do so as a result of unforeseen circumstances, Force Majeure
            conditions or circumstances beyond its reasonable control.
          </p>
          <p>
            xi. Organizer is empowered to take a decision in case of any
            conditions, circumstances and scenarios beyond these terms and
            conditions of the Campaign.
          </p>
          <p>
            xii. The Campaign and the terms and conditions herein shall be
            governed by and construed in accordance with the applicable laws in
            India. All matters with respect to the Campaign and/or prizes are
            subject to the exclusive jurisdiction of the courts at Delhi only.
            The Campaign shall be deemed void where prohibited by law
          </p>
          <p>
            xiii. In case of any queries with respect to the Campaign, please
            write to info.rsmarkofpurity@gmail.com Consumer help line for any
            queries on would be +91 9152915219 (open from 10am to 6:00pm).
          </p>
          <p>
            xiv. Organizer’s liability at any point in time shall not exceed the
            value of the Prize.
          </p>
          <p>
            xv. Any gift voucher sent by the organizer via SMS to the winners
            must not be further shared or reproduced by anyone other than the
            winner itself. In case any winner misuses or shares his/her gift
            voucher with any third party, the Organizer is not liable for any
            misuse of the same thereof and no claim shall lie against the
            Organizer.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
